// paleta de cores do site
$main-color: #FB953E;
$sec-color: #000000;
$ter-color: #666666;
$quart-color: #808080;

//fonts
$main-font: "Open Sans", sans-serif;
$f12: 0.75rem;
$f14: 0.88rem;
$f16: 1rem;
$f32: 2rem;